.page-container {
  cursor: pointer;
  transition: border 0.3s;
}
.page-container:hover {
  border-color: #007bff;
}
.pdf-page {
  transition: transform 0.2s;
}

.pdf-page:hover {
  transform: scale(1.05);
}

/* .pdf-page {
  position: relative;
}
.resizable-box {
  position: absolute;
  top: 0;
  left: 0;
} */
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
