.page-container {
  cursor: pointer;
  transition: border 0.3s;
}
.page-container:hover {
  border-color: #007bff;
}
.pdf-page {
  transition: transform 0.2s;
}

.pdf-page:hover {
  transform: scale(1.05);
}

/* .pdf-page {
  position: relative;
}
.resizable-box {
  position: absolute;
  top: 0;
  left: 0;
} */
